<div class="autocomplete-container">
  <input type="text" [(ngModel)]="inputText" (input)="onInputChange($event)"
         (keydown)="handleKeydownEvent($event)">
  <div *ngIf="searchingForMatch" class="dropdown-container">
    <div *ngFor="let item of matchingText; let i = index" class="dropdown-item"
         [ngClass]="{'dropdown-item-pseudofocus' : i == arrowIndexCounter}"
         (click)="selectTextToAutocomplete(item)">
      <span class="dropdown-item-content">
        {{item}}
      </span>
    </div>
  </div>
</div>